.main {
  display: flex;
}
.main .side {
  flex: 25;
}
.main .side .check,
.main .side .search {
  margin: 20px 0;
}
.side .check > label,
.side .select > span {
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 14px;
  color: #334680;
  margin-left: 5px;
}
.main .side .search h3 {
  text-transform: uppercase;
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  font-size: 14px;
  color: #b9bdcf;
  padding: 10px 0;
}
.main .side .search input {
  background: #ffffff;
  width: 85%;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.05);
  border-radius: 4px;
}
.content {
  flex: 70;
}
.content .card .flex {
  display: flex;
  align-items: center;
}
.content .card {
  margin: 25px auto;
  background: #ffffff;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.05);
  border-radius: 4px;
}
img {
  width: 100%;
}
.content .card .logo {
  width: 90px;
  height: 90px;
  text-align: center;
  margin-right: 10px;
}
.content .card .info h5 {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 12px;
  color: #334680;
}
.content .card .info h3 {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 18px;
  color: #334680;
}
.content .card .info p {
  display: inline-block;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 12px;
  color: #334680;
  border: 1px solid #334680;
  border-radius: 4px;
  padding: 5px;
}
.content .card .loc p {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 12px;
  color: #b9bdcf;
  padding: 10px;
}
.content .card .loc {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}

@media screen and (max-width: 800px) {
  .main {
    display: block;
  }
  .content .card .logo {
    width: 50px;
    height: 50px;
  }
  .content .card .info h5,
  .content .card .info h3,
  .side .check > label,
  .side .select > span,
  .main .side .search h3 {
    font-size: 12px;
  }
  .content .card .loc p,
  .content .card .info p {
    font-size: 10px;
  }
}
