.header .title{
    padding: 30px 0;
}

.header .search{
    width: 100%;
    padding: 50px 0;
    background-image: url('./backgroundImg.png');
    text-align: center;
}

.search input{
    width: 60%;
    padding: 10px 20px;
}
.search button{
    padding: 10px 20px;
}