*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.App{
    width: 80%;
    max-width: 1300px;
    margin: 0 auto;
}
.relative p{
    position: relative;
    bottom:0;
    width: 100%;
    text-align: center;
}
.absolute p{
    position: absolute;
    bottom:0;
    width: 80%;
    text-align: center;
}